<a href="https://colab.research.google.com/github/NikkiBytes/Bioinformatics/blob/master/eda_plotting_with_seaborn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Plotting with Seaborn

The Python visualization library, **Seaborn**, is a great plotting tool for data visualization and pattern discovery.    
<br>
To install the latest release of seaborn run: 
* `pip install seaborn`, or,
* `conda install seaborn`

In [9]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
# import dependencies
%matplotlib inline

# system tools
import os, glob
# data loading, manipulation tools
import pandas as pd
import numpy as np
# visualization tools
import seaborn as sns
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D

In [30]:
# make file list
csv_list = glob.glob('/content/drive/My Drive/Projects/16-3177_Bromo/1_data/clean_data/clean_outputs/*csv')
csv_list

['/content/drive/My Drive/Projects/16-3177_Bromo/1_data/clean_data/clean_outputs/bro_screening_data.csv',
 '/content/drive/My Drive/Projects/16-3177_Bromo/1_data/clean_data/clean_outputs/bro_survey_data_str.csv',
 '/content/drive/My Drive/Projects/16-3177_Bromo/1_data/clean_data/clean_outputs/bro_vas_data.csv',
 '/content/drive/My Drive/Projects/16-3177_Bromo/1_data/clean_data/clean_outputs/bro_taste_test_data.csv',
 '/content/drive/My Drive/Projects/16-3177_Bromo/1_data/clean_data/clean_outputs/bro_survey_data_calc.csv',
 '/content/drive/My Drive/Projects/16-3177_Bromo/1_data/clean_data/clean_outputs/bro_survey_data_num.csv',
 '/content/drive/My Drive/Projects/16-3177_Bromo/1_data/clean_data/clean_outputs/bro_check_data_01_31_2020.csv',
 '/content/drive/My Drive/Projects/16-3177_Bromo/1_data/clean_data/clean_outputs/bro_blood_data_02_06_2020_10.19.csv',
 '/content/drive/My Drive/Projects/16-3177_Bromo/1_data/clean_data/clean_outputs/bro_taqstatus.csv',
 '/content/drive/My Drive/Projects/16-3177_Bromo/1_data/clean_data/clean_outputs/bro_demographics.csv']

In [0]:
taq_data=pd.read_csv(csv_list[-2], index_col="participantID")
taq_data.drop("preID",axis=1, inplace=True)
vas_data=pd.read_csv(csv_list[3], index_col="participantID")

In [50]:
vas_data.head()
#vas_data.columns.values

                      StartDate_v1  ...  dorintense_1_v2
participantID                       ...
bro_001        2017-10-25 16:22:54  ...             98.0
bro_002        2017-10-27 17:52:10  ...             48.0
bro_003        2018-01-27 09:33:54  ...             73.0
bro_004        2018-03-06 17:12:25  ...             31.0
bro_006        2018-01-06 08:28:37  ...             45.0

[5 rows x 50 columns]

In [51]:
taq_data.head()

              taqstatus
participantID
bro_001           A2/A2
bro_002           A1/A1
bro_003           A1/A2
bro_004           A1/A2
bro_005           A2/A2

Apply descriptive statistics to view a subset of column statistics.

In [52]:
desire_milk_stats=round(vas_data.filter(regex="milkshake*",axis=1).describe(),2)
desire_milk_stats

       milkshakepleasant_1_v1  ...  milkshakeintense_1_v2
count                   54.00  ...                  48.00
mean                    26.87  ...                  52.35
std                     30.53  ...                  18.97
min                    -68.00  ...                   0.00
25%                     20.00  ...                  41.50
50%                     30.00  ...                  50.00
75%                     42.75  ...                  66.25
max                     95.00  ...                 100.00

[8 rows x 8 columns]

In [65]:
milkshake_data=vas_data.filter(regex="milkshake*",axis=1)
milkshake_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 54 entries, bro_001 to bro_056
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   milkshakepleasant_1_v1  54 non-null     int64
 1   milkshakedesire_1_v1    54 non-null     int64
 2   milkshakesweet_1_v1     54 non-null     int64
 3   milkshakeintense_1_v1   54 non-null     int64
 4   milkshakepleasant_1_v2  48 non-null     float64
 5   milkshakedesire_1_v2    48 non-null     float64
 6   milkshakesweet_1_v2     48 non-null     float64
 7   milkshakeintense_1_v2   48 non-null     float64
dtypes: float64(4), int64(4)
memory usage: 6.3+ KB

In [69]:
milkshake_data.fillna(method='pad', inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4153: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [70]:
milkshake_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 54 entries, bro_001 to bro_056
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   milkshakepleasant_1_v1  54 non-null     int64
 1   milkshakedesire_1_v1    54 non-null     int64
 2   milkshakesweet_1_v1     54 non-null     int64
 3   milkshakeintense_1_v1   54 non-null     int64
 4   milkshakepleasant_1_v2  54 non-null     float64
 5   milkshakedesire_1_v2    54 non-null     float64
 6   milkshakesweet_1_v2     54 non-null     float64
 7   milkshakeintense_1_v2   54 non-null     float64
dtypes: float64(4), int64(4)
memory usage: 6.3+ KB

In [53]:
taq_stats=round(taq_data.describe(),2)
taq_stats

       taqstatus
count         55
unique         3
top        A1/A2
freq          27

In [0]:
#